* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'JostLight', Verdana, sans-serif;
}

header {
  align-items: center;
  font-family: 'JostBlack', Verdana, sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  display: flex;
  height: 10%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 80%;
  margin: 0 auto;
  width: 80%;
}

.round, .score, .round-results {
  padding-bottom: 15px;
}

.score {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.choices {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.choices a {
  cursor: pointer;
}

.results {
  display: none;
}

.results-visible {
  align-items: center;
  background-color: #ffffffd6;
  display: flex;
  flex-direction: column;
  height: 60%;
  position: fixed;
  width: 60%;
}

.outcome {
  font-size: 2rem;
}

.outcome, .results-visible p {
  padding-bottom: 35px;
}

.results-visible .replay-choices {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.credits {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 10%;
}