* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

header {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 20%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 0 auto;
  width: 80%;
}

.round, .score, .round-results {
  padding-bottom: 15px;
}

.score {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.results {
  display: none;
}

.results-visible {
  align-items: center;
  background-color: #ffffffd6;
  display: flex;
  flex-direction: column;
  height: 60%;
  position: fixed;
  width: 60%;
}

.outcome, .results-visible p {
  padding-bottom: 35px;
}

.results-visible .replay-choices {
  display: flex;
  justify-content: space-around;
  width: 40%;
}